<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:raspi:config">
		<parameter name="pin_schema" type="text">
			<label>Pin Wiring Schema</label>
			<description>The schema to map channels to actual pins</description>
			<options>
				<option value="BCM">Broadcom</option>
				<option value="WPI">Wiring PI</option>
			</options>
			<default>BCM</default>
		</parameter>
		<parameter name="refresh" type="integer" min="0" unit="s">
			<label>Refresh Rate</label>
			<description>Refresh rate to check gpio pin states. If 0 no refresh is done.</description>
			<default>30</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:i2c:config">
		<parameter name="address" type="text">
			<label>I2C Device Address</label>
			<description>I2C Bus device address in HEX</description>
			<default>20</default>
		</parameter>
		<parameter name="bus_number" type="integer" min="0" max="16">
			<label>I2C BUS Number</label>
			<description>I2C Bus number</description>
			<default>1</default>
		</parameter>
		<parameter name="refresh" type="integer" min="0" unit="s">
			<label>Refresh Rate</label>
			<description>Refresh rate to check gpio pin states. If 0 no refresh is done.</description>
			<default>30</default>
		</parameter>
	</config-description>

	<config-description uri="channel-type:input-pin:config">
		<parameter name="pull_mode" type="text" required="true">
			<label>PullResistor Mode</label>
			<description>mcp2317 input pull resistor mode</description>
			<options>
				<option value="OFF">OFF</option>
				<option value="PULL_UP">Internal PULL_UP</option>
			</options>
			<default>OFF</default>
		</parameter>
		<parameter name="active_low" type="boolean">
			<label>Active Low</label>
			<description>When true a low signal is will be an ON state</description>
		</parameter>
	</config-description>

	<config-description uri="channel-type:output-pin:config">
		<parameter name="default_state" type="text">
			<label>Default State</label>
			<description>Pin default state (LOW, HIGH)</description>
			<options>
				<option value="LOW">LOW</option>
				<option value="HIGH">HIGH</option>
			</options>
			<default>LOW</default>
		</parameter>
		<parameter name="active_low" type="boolean">
			<label>Active Low</label>
			<description>When true a OFF state is will be a low value</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
